body {
	background-color: #e0e0e0;
	font-family: Arial, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
	text-align: left;
	font-size: 48px;
}
.generator {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
p {
	padding: 10px;
	text-align: left;
	background-color: #ffffff;
}
#date {
	font-weight: bold;
}
#events {
  margin-left: 20%;
  margin-right: 20%
}
.competition {
  font-size: 24px;
}
.speaker {
  font-size: 18px;
}
#success {
  text-align: center;
  padding: 20px;
  font-size: 36px;
  background-color: green;
  color: white;
  display: none;
}
#failure {
  text-align: center;
  padding: 20px;
  font-size: 36px;
  background-color: red;
  color: white;
  display: none;
}